<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jaxws="http://cxf.apache.org/jaxws"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd">

	<import resource="classpath:META-INF/cxf/cxf.xml" />
	<import resource="classpath:META-INF/cxf/cxf-extension-soap.xml" />
	<import resource="classpath:META-INF/cxf/cxf-servlet.xml" />


	<bean id="Server" class="org.talend.esb.locator.sample.Server"
		init-method="init">
		<property name="serverPorts">
			<list>
				<value>8081</value>
				<value>8082</value>
				<value>8083</value>
			</list>
		</property>
		<property name="locatorRegistrar" ref="LocatorRegistrar" />
	</bean>

<!--	 <bean id="cxfBus" factory-bean="Server" factory-method="getBus"></bean> -->

	<bean id="ServiceLocator" class="org.talend.esb.locator.ServiceLocator">
		<property name="locatorEndpoints" value="sop-td57:2181" />
		<property name="sessionTimeout" value="5000" />
		<property name="connectionTimeout" value="5000" />
	</bean>
	<bean id="LocatorRegistrar" class="org.talend.esb.locator.LocatorRegistrar"
		init-method="init">
<!--		 <property name="bus" ref="cxfBus" /> -->
		<property name="locatorClient" ref="ServiceLocator" />
		<property name="endpointPrefix" value="" />
	</bean>

<!--	<jaxws:endpoint id="Greeter_p84"-->
<!--		implementor="org.talend.esb.sample.cxf.GreeterImpl" address="/Greeter"-->
<!--		serviceName="samp:GreeterImplService" xmlns:samp="http://talend.org/esb/examples/">-->
<!--	</jaxws:endpoint>-->

</beans>
