<?xml version="1.0" encoding="UTF-8"?>
<!--
  #%L
  Talend :: ESB :: Job :: Web Console
  %%
  Copyright (C) 2011 Talend Inc.
  %%
  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at
  
       http://www.apache.org/licenses/LICENSE-2.0
  
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
  #L%
  -->

<web-app version="2.4"
         xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

    <display-name>Bundle Conductor</display-name>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>org.talend.esb.job.console.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeployServlet</servlet-name>
        <servlet-class>org.talend.esb.job.console.DeployServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StartServlet</servlet-name>
        <servlet-class>org.talend.esb.job.console.StartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StopServlet</servlet-name>
        <servlet-class>org.talend.esb.job.console.StopServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RunServlet</servlet-name>
        <servlet-class>org.talend.esb.job.console.RunServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UndeployServlet</servlet-name>
        <servlet-class>org.talend.esb.job.console.UndeployServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/home.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeployServlet</servlet-name>
        <url-pattern>/deploy.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StartServlet</servlet-name>
        <url-pattern>/start.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StopServlet</servlet-name>
        <url-pattern>/stop.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RunServlet</servlet-name>
        <url-pattern>/run.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UndeployServlet</servlet-name>
        <url-pattern>/undeploy.do</url-pattern>
    </servlet-mapping>

</web-app>