<?xml version="1.0" encoding="UTF-8" ?>
<wsp:Policy xmlns:wsp="http://www.w3.org/ns/ws-policy">
	<wsp:ExactlyOne>
		<wsp:All xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
			<!--wsam:Addressing wsp:Optional="false" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
				<wsp:Policy />
			</wsam:Addressing-->
			<sp:TransportBinding>
				<wsp:Policy>
					<sp:AlgorithmSuite>
						<wsp:Policy>
							<sp:TripleDesRsa15 />
						</wsp:Policy>
					</sp:AlgorithmSuite>
					<sp:Layout>
						<wsp:Policy>
							<sp:Lax />
						</wsp:Policy>
					</sp:Layout>
					<sp:IncludeTimestamp />
				</wsp:Policy>
			</sp:TransportBinding>
			<sp:SignedSupportingTokens
				xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
				<wsp:Policy>
					<sp:UsernameToken
						sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
						<wsp:Policy>
							<sp:WssUsernameToken11 />
						</wsp:Policy>
					</sp:UsernameToken>
				</wsp:Policy>
			</sp:SignedSupportingTokens>
			<sp:Wss11>
				<wsp:Policy>
					<sp:MustSupportRefIssuerSerial />
					<sp:MustSupportRefThumbprint />
					<sp:MustSupportRefEncryptedKey />
				</wsp:Policy>
			</sp:Wss11>
			<sp:Trust13>
				<wsp:Policy>
					<sp:MustSupportIssuedTokens />
					<sp:RequireClientEntropy />
					<sp:RequireServerEntropy />
				</wsp:Policy>
			</sp:Trust13>
		</wsp:All>
	</wsp:ExactlyOne>
</wsp:Policy>
